{%- if item.original_price != item.final_price -%}
  <div class="cart-item__discounted-prices">
    <span class="visually-hidden"> regular_price </span>
    <s class="cart-item__old-price product-option">
      {{- item.original_price | money -}}
    </s>
    <span class="visually-hidden"> sale_price </span>
    <strong class="cart-item__final-price product-option">
      {{ item.final_price | money }}
    </strong>
  </div>
{%- else -%}
  <div class="product-option">
    {{ item.original_price | money }}
  </div>
{%- endif -%}
