{% assign current_variant = product.selected_or_first_available_variant %}
{% assign active_image_id = current_variant.featured_image.id %}

<ul class="product-thumbnails"></ul>

<div role="group" aria-label="Product image thumbnails">
  <ul class="grid grid-cols-4 gap-4 list-none p-0 m-0">
    {% if product.images.size > 1 %}
      {% for image in product.images %}
        <li class="{% if image.id == active_image_id %} active {% endif %}">
          <button
            class="aspect-square overflow-hidden border-2 border-zinc-900 w-full focus-visible:ring-2 focus-visible:ring-zinc-900"
            aria-label="View image 1 of Aurora Glass Pitcher"
            aria-pressed="true"
          >
            <img
              src="{{ image | image_url:width:200 }}"
              aria-hidden="true"
              width="200"
              height="200"
              class="w-full h-full object-cover"
              loading="lazy"
              alt="{{ image.alt | escape }}"
            >
          </button>
        </li>
      {% endfor %}
    {% endif %}
  </ul>
</div>
